.metadata
bin/
tmp/
*.tmp
*.bak
*.swp
*~.nib
local.properties
.settings/
.loadpath
.recommenders

# Compiled Jars
*.jar

# External tool builders
.externalToolBuilders/

# Minified web files
flexy-osisoft-connector/web/css/min/
flexy-osisoft-connector/web/js/min/
