.metadata
bin/
tmp/
*.tmp
*.bak
*.swp
*~.nib
local.properties
.settings/
.loadpath
.recommenders

# Visual Studio Code files
.vscode/

# Compiled Jars
*.jar

# External tool builders
.externalToolBuilders/

# Minified web files
web/css/min/
web/js/min/

# Releases
releases/

# Build
build/
